dialog[open]{
    height: 90%;
    width: 50%;

    border: 3px solid grey;
    border-radius: 7px;

    display: flex;
    flex-direction: column;

    /* box-sizing: content-box; */
    padding: 10px 20px 30px 30px;

    animation: fadeIn 0.3s forwards;
    --backdrop-animation: semiFadeIn 0.3s forwards;

    scrollbar-gutter: stable;
}

@keyframes fadeOut{
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes semiFadeIn{
    from {opacity: 0;}
    to {opacity: 0.5;}
}

@keyframes semiFadeOut{
    from {opacity: 0.5;}
    to {opacity: 0;}
}

dialog::backdrop{
    background-color: black;
    opacity: 0.5;
    animation: var(--backdrop-animation);
}

dialog .modal-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

dialog .closePopup{
    position: absolute;
    top: 10px;
    right: 10px;

    padding: 5px 10px;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    background-color: rgb(244, 244, 244);

    cursor: pointer;
    transition: background-color 0.2s ease;
}

dialog .closePopup:hover{
    background-color: rgb(224, 224, 224);
}

dialog h1, dialog h2, dialog h3, dialog h4{
    color: #333;
}

dialog h2{
    margin-bottom: 0;
}

dialog i{
    opacity: 0.5;
    font-size: 15px;
}

dialog p {
    margin: 10px 0;
}
dialog ul {
    list-style: disc inside;
}

dialog hr{
    color: #333;
    width: 98%;
    margin-top: 25px;
    margin-bottom: 25px;
}

dialog .highlight {
    background-color: #f4f4f4;
    padding: 10px;
    margin-top: 20px;
    border-left: 5px solid #333;
    border-radius: 5px;
}