@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


html, body{
    height: 100%;
}

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: rgb(200, 200, 200);
    background-image: url("https://i.redd.it/fej94dm1q2361.jpg");
    background-size: contain;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header, header nav, header ul{
    width: 100%;
}

header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
}

header nav ul li{
    list-style: none;
}

header nav ul li button{
    height: 35px;
    width: 100px;

    border: none;
    border-radius: 3px;

    background-color: rgb(200, 200, 200);
    color: black;
    font-weight: bold;

    cursor: pointer;
    transition: background-color 0.25s ease;
}

header nav ul li button:hover, .start-game #start-game-btn:hover, .start-game #customize-game-btn:hover{
    background-color: rgb(150, 150, 150);
}

hr{
    width: 90%;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    margin-bottom: 20px;
}

.game{
    width: 100%;

    display: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.start-game{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-game #start-game-btn{
    height: 70px;

    border: none;
    border-radius: 3px;

    background-color: rgb(200, 200, 200);
    color: black;
    font-weight: bold;
    font-size: 20px;

    cursor: pointer;
    transition: background-color 0.25s ease;
}

.start-game #customize-game-btn{
    height: 35px;

    border: none;
    border-radius: 3px;

    background-color: rgb(200, 200, 200);
    color: black;
    font-weight: bold;

    cursor: pointer;
    transition: background-color 0.25s ease;
}

.customize-content{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: fadeIn 0.5s forwards;
}

.customize-content p{
    text-align: center;
}

.start-game, .legend{
    width: 25%;
    background-color: black;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 10px;
}

.legend, .legend div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: fit-content;
}

.legend .wrong, .legend .correct, .legend .almost{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 3px;
}

.legend div p{
    margin-right: 5px;
}
.legend div:last-child p{
    margin-right: 0;
}

.score{
    width: 25%;
    margin: -5px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.lives{
    width: 10%;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;;
}

.lives i.fa-solid{
    color: rgb(210, 0, 0);
}

.guess{
    margin-bottom: 20px;
}

#guessField{
    background: url(./data/img/search.png) no-repeat 3px;
    background-size: 20px;
    background-color: white;
    padding-left: 27px;
    height: 35px;
    border: none;
    border-radius: 3px;
}

#guessButton, #endButton{
    background-color: rgb(0, 119, 255);
    color: white;
    height: 35px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

#guessButton:hover, #endButton:hover{
    background-color: rgb(0, 84, 180);
}

table thead tr th{
    width: 75px;
}

.cube{
    min-width: 75px;
    height: 75px;
    border: 3px solid black;
    border-radius: 4px;
    padding: 5px;

    text-align: center;
    font-size: 0.8rem;

    animation: fadeIn 0.3s ease-in;
}

table{
    border-spacing: 6px 20px;
}

table thead{
    text-wrap: nowrap;
}

table thead tr hr{
    margin-bottom: -10px;
    width: 100%;
    border-radius: 10px;
}


@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

.correct{
    background: linear-gradient(to right, rgb(0, 130, 0), rgb(0, 150, 0));
}

.wrong{
    background: linear-gradient(to right, rgb(220, 0, 0), rgb(220, 0, 30));
}

.arrow{
    background: linear-gradient(to right, rgb(220, 0, 0), rgb(220, 0, 30));

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    height: 78px;
}

.arrow *{
    width: 100%;
    flex: none;
}

.arrow i{
    font-size: 60px;
    opacity: 0.5;
    color: black;
}

.arrow p{
    z-index: 1;
    margin-left: -100%;
}

.char-name{
    display: none;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    padding: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    outline: 1px solid black;
    border-radius: 3px;
    font-weight: bold;
    color: black;
    
    cursor: default;
}

.almost{
    background: linear-gradient(to right, rgb(220, 125, 0), rgb(220, 125, 30));
}

.empty{
    background: linear-gradient(to right, rgb(40, 40, 40), rgb(50, 50, 50));
}

.character{
    background: linear-gradient(to right, rgb(0, 119, 255), rgb(0, 84, 180));
    position: relative;
}

.character img{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 3px;
}

#list {
    color: black;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    border-radius: 0 0 5px 5px;
    z-index: 5;
    /* scrollbar-gutter: stable; */
}

#list div{
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: bold;
    padding: 0px;
    text-align: center;
}

#list div:hover{
    background-color: rgb(200,200,200);
}

#list div p{
    width: 100px;
}

.char-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.char-item img{
    height: 50px;
    width: auto;
}

.char-name-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.char-name-div i{
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    text-wrap: wrap;
}

.end-infos{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#end-text{
    animation: fadeIn 3s ease-in;
}

.summary{
    display: none;
}

#showSummary {
    --toggle-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4em;
    height: 2em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, rgb(0, 119, 255))) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, rgb(0, 119, 255) 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, rgb(0, 119, 255) 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
    margin-right: 15px;
}
  
#showSummary::before {
    content: "";
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, rgb(0, 84, 180))) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, rgb(0, 84, 180) 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, rgb(0, 84, 180) 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
  
#showSummary:checked::before {
    left: calc(100% - 1em - 0.5em);
    background-position: 0;
}
  
#showSummary:checked {
    background-position: 100%;
}

.showSummary{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}